﻿body
{
   font-weight:normal;
   color:#000000;
   border: 3px solid #D9D9D9;
   letter-spacing:0pt;
   word-spacing:1pt;
   font-size:12px;
   text-align:left;
   font-family:arial, helvetica, sans-serif;
   margin:9px;
   padding:13px;

}
h1
{
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}
span.list
{
    display: inline-block;
  float: left;
  margin: 3px;
  padding: 3px;
}
div.info
{
    margin-bottom:60px;
}
div.figure
{
  float: left;
  border: 1px solid #D9D9D9;
  padding: 3px;
  margin-right: 5px;
  padding: 3px;
}
div.figure p
{
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  text-indent: 0;
}
.error
{
    text-align: center;
    color: Maroon;
}